.timecrowd_crx {
  position: fixed;
  background: #000;
  color: #fff;
  z-index: 100000;
  opacity: 0.4;
  padding: 5px;
  padding-right: 20px;
  font-size: 12px;
  font-family: sans-serif;
  display: none;
  max-width: 300px;
  text-align: left;
  word-break: break-all;
}

.timecrowd_crx a {
  background: none;
  content: none;
}

.timecrowd_crx:hover {
  opacity: 0.8;
}

.timecrowd_crx.timecrowd_left_top {
  display: block;
  top: 10px;
  left: 10px;
  text-align: left;
}

.timecrowd_crx.timecrowd_right_top {
  display: block;
  top: 10px;
  right: 10px;
  text-align: right;
}

.timecrowd_crx.timecrowd_left_bottom {
  display: block;
  bottom: 10px;
  left: 10px;
  text-align: left;
}

.timecrowd_crx.timecrowd_right_bottom {
  display: block;
  bottom: 10px;
  right: 10px;
  text-align: right;
}

.timecrowd_crx .timecrowd_elapsed {
  margin-bottom: 2px;
}

.timecrowd_crx .timecrowd_users img {
  height: 22px;
  margin-right: 4px;
}

.timecrowd_crx .timecrowd_close {
  position: absolute;
  right: 6px;
  top: 4px;
  visibility: hidden;
}

.timecrowd_crx:hover .timecrowd_close {
  visibility: visible;
}

.timecrowd_crx .timecrowd_close a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.timecrowd_crx .timecrowd_label a {
  color: inherit;
}

