<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/timecrowd-chrome.css">
  </head>
  <body>
    <div id="js_popup" class="popup container initializing">
      <div class="loading js_loading">
        <i class="fa fa-refresh fa-spin fa-fw"></i>
        {{ 'popup_loading' | localize }}
      </div>

      <div class="clearfix">
        <ul class="list-inline list-condensed pull-right">
          <li>
            <a href="#" v-show="userInfo" v-on="click: openInfoUrl" data-toggle="tooltip" data-placement="bottom" title="{{ 'popup_show_info' | localize }}">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </li>
          <li>
            <a href="#" v-show="userInfo" v-on="click: refresh" data-toggle="tooltip" data-placement="bottom" title="{{ 'popup_refresh' | localize }}">
              <span class="glyphicon glyphicon-refresh"></span>
            </a>
          </li>
        </ul>
        <p>
          <a href="#" class="link_url link_img" v-on="click: openRootUrl">
            TimeCrowd{{ env }}
          </a>
        </p>
      </div>

      <div class="alert alert-danger" v-show="messages">
        <button class="close" type="button" data-dismiss="alert">&times;</button>
        <ul class="list-unstyled">
          <li v-repeat="message : messages">{{ message }}</li>
        </ul>
      </div>

      <p v-if="noTeam">
        <a href="#" class="btn btn-default btn-block" v-on="click: openNewTeamUrl">
          {{ 'popup_create_team' | localize }}
        </a>
      </p>

      <div v-show="userInfo">
        <div class="panel panel-default panel-form" v-if="!noTeam">
          <div class="panel-body">
            <form v-on="submit: start">
              <p v-show="userInfo.teams.length > 1">
                <select v-on="change: changeTeam" class="form-control js_team_id">
                  <option value="{{ team.id }}" v-repeat="team: userInfo.teams" selected="{{ team.id == teamId ? 'selected' : '' }}">{{ team.name }}</option>
                </select>
              </p>
              <p>
                <input type="text" v-model="task.key" class="form-control" v-on="focus: select">
                <small class="text-muted">{{ task.title }}</small>
              </p>
              <div>
                <p><a href="#" v-on="click: start" class="btn btn-block btn-primary" v-attr="disabled: (timeEntryId || (comment && comment.length > 0))">{{ 'popup_start' | localize }}</a></p>
                <p v-show="timeEntryId"><textarea v-model="comment" class="form-control" placeholder="{{ 'popup_comment' | localize }}"></textarea></p>
                <p v-show="timeEntryId"><a href="#" v-on="click: stop(timeEntryId)" class="btn btn-block btn-info">
                  <span v-if="!comment || comment.length < 1">{{ 'popup_stop' | localize }}</span>
                  <span v-if="comment.length > 0">{{ 'popup_stop_and_comment' | localize }}</span>
                </a></p>
              </div>
            </form>
          </div>
          <div class="panel-footer" v-show="workingEntryId && !timeEntryId">
            <p><textarea v-model="comment" class="form-control" placeholder="{{ 'popup_comment' | localize }}"></textarea></p>
            <a href="#" v-on="click: stop(workingEntryId)" class="btn btn-block btn-info">
              <span v-if="!comment || comment.length < 1">{{ 'popup_stop' | localize }}</span>
              <span v-if="comment.length > 0">{{ 'popup_stop_and_comment' | localize }}</span>
            </a>
          </div>
        </div>

        <table v-show="workingUsers.length" class="table table-bordered table-condensed">
          <tr v-repeat="workingUser: workingUsers">
            <td>
              <a href="#" v-on="click: openUrl(workingUser.html_url)">
                <img v-attr="src: workingUser.avatar_url" class="avatar_image" title="{{ workingUser.nickname }}">
              <a>
            </td>
            <td class="text-break">
              <a href="#" v-on="click: openUrl(workingUser.task.html_url)" title="{{ workingUser.task.label }}{{ workingUser.task.url ? '\n' + workingUser.task.url : '' }}">
                {{ workingUser.task.label | truncate 50 }}
              </a>
              <a v-if="workingUser.task.url" href="#" v-on="click: openUrl(workingUser.task.safe_url)" title="{{ workingUser.task.url }}">
                <span class="glyphicon glyphicon-globe"></span>
              </a>
              <a href="#" v-if="workingUser.time_entry.comment.length" class="link_url" data-toggle="popover" data-content="{{ workingUser.time_entry.comment }}" data-html="true">
                <span class="glyphicon glyphicon-comment"></span>
              </a>
            </td>
            <td>
              <span class="text-nowrap">
                <span data-duration="{{ workingUser.time_entry.duration }}" class="js_duration">00:00:00</span>
                <small>
                  <a href="#" v-on="click: openUrl(workingUser.time_entry.html_url)" v-if="workingUser.id == userInfo.id" class="link_url"><span class="glyphicon glyphicon-pencil"></span></a>
                </small>
              </span>

              <br>

              <a href="#" v-on="click: stop(workingUser.time_entry.id)" v-if="workingUser.id == userInfo.id" class="link_url">
                <span class="glyphicon glyphicon-stop"></span>
              </a>
              <a href="#" v-on="click: startTask(workingUser.task)" v-if="!userInfo.task || (workingUser.id != userInfo.id && workingUser.task.id != userInfo.task.id)" class="link_url">
                <span class="glyphicon glyphicon-play"></span>
              </a>
            </td>
          </tr>
        </table>

        <table class="table table-bordered table-condensed" v-if="activity">
          <caption>{{ 'popup_activity' | localize }}</caption>
          <tr>
            <td>
              {{ 'popup_today' | localize }}
              ({{ activity.today.from | strfdate }})
            </td>
            <td class="text-right">{{ activity.today.time }}</td>
          </tr>
        </table>

        <div class="tab_bottom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#recent_entries" data-toggle="tab">{{ 'popup_recent_entries' | localize }}</a></li>
            <li><a href="#workable_tasks" data-toggle="tab">{{ 'popup_workable_tasks' | localize }}</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="recent_entries">
              <div v-show="recentEntries.length">
                <ul class="list-unstyled">
                  <li v-repeat="recentEntry : recentEntries" v-show="$index < 5 || moreEntries" class="li-hover">
                    <ul class="list-inline pull-right">
                      <li>
                        <a href="#" v-on="click: startTask(recentEntry.task)" v-if="!userInfo.task || recentEntry.task.id != userInfo.task.id" class="link_url">
                          <span class="glyphicon glyphicon-play"></span>
                        </a>
                      </li>
                      <li>
                        <a href="#" v-on="click: openUrl(recentEntry.html_url)" class="link_url"><span class="glyphicon glyphicon-pencil"></span></a>
                      </li>
                    </ul>
                    <a href="#" v-on="click: openUrl(recentEntry.task.html_url)" title="{{ recentEntry.task.label }}{{ recentEntry.task.url ? '\n' + recentEntry.task.url : '' }}">
                      {{ recentEntry.task.label | truncate 30 }}
                    </a>
                    <a v-if="recentEntry.task.url" href="#" v-on="click: openUrl(recentEntry.task.safe_url)" title="{{ recentEntry.task.url }}">
                      <span class="glyphicon glyphicon-globe"></span>
                    </a>
                    <span class="text-muted">
                      {{ recentEntry.started_at | strftime }}
                      -
                      {{ recentEntry.stopped_at | strftime }}
                      ({{ recentEntry.formatted_duration }})
                    </span>
                  </li>
                  <li v-show="recentEntries.length > 5 && !moreEntries">
                    <a href="#" v-on="click: loadMoreEntries()" class="btn btn-default btn-sm btn-block">{{ 'popup_load_more' | localize }}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-pane" id="workable_tasks">
              <div v-show="workableTasks.length">
                <ul class="list-inline">
                  <li class="{{ !workableTeam ? 'active' : '' }}">
                    <a href="#" v-on="click: setWorkableTeam(null)">{{ 'popup_all_teams' | localize }}</a>
                  </li>
                  <li v-repeat="team : userInfo.teams" class="{{ team.id == workableTeam ? 'active' : '' }}">
                    <a href="#" v-on="click: setWorkableTeam(team.id)">{{ team.name }}</a>
                  </li>
                </ul>

                <ul class="list-unstyled">
                  <li v-repeat="workableTask : workableTasks" v-show="($index < 5 || moreTasks) && (!workableTeam || workableTeam == workableTask.team_id)" class="li-hover">
                    <ul class="list-inline pull-right">
                      <li>
                        <a href="#" v-on="click: startTask(workableTask)" v-if="!userInfo.task || workableTask.id != userInfo.task.id" class="link_url">
                          <span class="glyphicon glyphicon-play"></span>
                        </a>
                      </li>
                    </ul>
                    <a href="#" v-on="click: openUrl(workableTask.html_url)" title="{{ workableTask.label }}{{ workableTask.url ? '\n' + workableTask.url : '' }}">
                      {{ workableTask.label }}
                    </a>
                    <a v-if="workableTask.url" href="#" v-on="click: openUrl(workableTask.safe_url)" title="{{ workableTask.url }}">
                      <span class="glyphicon glyphicon-globe"></span>
                    </a>
                  </li>
                  <li v-show="workableTasks.length > 5 && !moreTasks">
                    <a href="#" v-on="click: loadMoreTasks()" class="btn btn-default btn-sm btn-block">{{ 'popup_load_more' | localize }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <p class="text-muted">
          <ul class="list-inline pull-right">
            <li>
              <small>
                <a href="#" v-on="click: toggleSettings">{{ 'popup_settings' | localize }}</a>
              </small>
            <li>
              <small>
                <a href="#" v-on="click: signOut">{{ 'popup_sign_out' | localize }}</a>
              </small>
          </ul>
          <small>
            <a href="#" class="link_url link_img" v-on="click: openUserUrl">
              <img v-attr="src: userInfo.avatar_url" class="avatar_image">
              {{ userInfo.nickname }}
            </a>
          </small>
        </p>

        <div class="settings" v-show="settings">
          <hr>

          <h2 class="settings_title">{{ 'popup_overlay' | localize }}</h2>
          <div class="row">
            <div class="col-xs-6">
              <div class="radio">
                <label>
                  <input type="radio" name="overlay" value="left_top" v-model="overlay">
                  {{ 'overlay_left_top' | localize }}
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="overlay" value="right_top" v-model="overlay">
                  {{ 'overlay_right_top' | localize }}
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="overlay" value="left_bottom" v-model="overlay">
                  {{ 'overlay_left_bottom' | localize }}
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="overlay" value="right_bottom" v-model="overlay">
                  {{ 'overlay_right_bottom' | localize }}
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="overlay" value="none" v-model="overlay">
                  {{ 'overlay_none' | localize }}
                </label>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox" v-model="elapsed">
                  {{ 'elapsed' | localize }}
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" v-model="titleTag">
                  {{ 'count_on_title' | localize }}
                </label>
              </div>
            </div>
          </div>

          <h2 class="settings_title">{{ 'reminder' | localize }}</h2>
          <div class="input-group input-group-sm">
            <input type="number" v-model="reminder" class="form-control" min="0" step="5">
            <div class="input-group-addon">{{ 'popup_minutes' | localize }}</div>
          </div>

          <h2 class="settings_title">{{ 'popup_version' | localize }}</h2>
          <p>
            <small class="text-muted">{{ version }}</small>
          </p>
        </div>
      </div>

      <div v-show="!userInfo">
        <p>
          <a href="#" v-on="click: signIn" class="btn btn-default btn-sm btn-block">{{ 'popup_sign_in' | localize }}</a>
        </p>
      </div>
    </div>

    <script src="../vendor/jquery.min.js"></script>
    <script src="../vendor/underscore-min.js"></script>
    <script src="../vendor/underscore.string.min.js"></script>
    <script src="../vendor/vue.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vendor/autosize/dist/autosize.min.js"></script>
    <script src="../js/namespace.js"></script>
    <script src="../js/keys.js"></script>
    <script src="../js/env.js"></script>
    <script src="../js/duration.js"></script>
    <script src="../js/google.js"></script>
    <script src="../js/api.js"></script>
    <script src="../js/filters.js"></script>
    <script src="../js/popup.js"></script>
  </body>
</html>
